* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair Display", serif;
}

header {
  background-color: #218c74;
  //min-height: 20vh;
  color: white;
  display: flex;
  align-items: center;
  padding: 1em 0;
}

.header__title {
  color: white;
  font-weight: normal;
  font-size: 3.2rem;
  margin-left: 2rem;
}

button {
  all: initial;
  background-color: #218c74;
  color: white;
  border-radius: 3rem;
  padding: .7rem 2.2rem;
  font-size: 1.3rem;
  cursor: pointer;
}

p {
  text-align: center;
}

.mistake-counter {
  margin-left: auto;
}

.mistake-counter,
.time-counter {
  width: 20%;
  color: white;
  justify-content: space-between;
}

.mistake-number,
.time-number {
  font-size: 6rem;
}

main {
  padding: 5rem 0;
  width: 40%;
  margin: 0 auto;
}

.lorem {
  padding: 2rem 0;
  font-size: 1.7rem;
}

/* input {
  all: initial;
  border-radius: 20px;
  border: 1px solid grey;
  //box-shadow: 0 0 .5rem grey;
  height: 2.2rem;
  font-size: 1rem;
  padding: .8rem;
  width: 100%;
}

input:focus {
  box-shadow: 0 0 .5rem gray;
} */

textarea {
  all: initial;
  border: 1px solid lightgrey;
  width: 100%;
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.3rem;
  height: 15rem;
}

textarea:focus {
  box-shadow: 0 0 0.5rem lightgrey;
  outline: none;
}

.stats {
  background-color:  #218c74;
  color: white;
  height: 15rem;
  font-size: 2rem;
  width: 100%;
  border-radius: 10px;
  padding: 1rem;
  display: none;
  opacity: 0;
  transition: all 2s ease;
}

.stats.show {
  opacity: 1;
}
